:root {
    --bg-color: #1e2326;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

#main {
    color: #D3C6AA;
    width: "100%";
    font-family: Open Sans;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100vh;
}

.sidebar {
    grid-column: 1;
    grid-row: 1;
    width: 7rem;
    /* border-right: 2px solid #272e33; */
    overflow-y: scroll;
    padding-left: .5rem;
}

.sidebar::-webkit-scrollbar {
    width: .2rem;
    /* TODO: Make this scrollbar on the left side of the window, i think that might look cool */
}

.sidebar::-webkit-scrollbar-track {
    background: #272e33;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #7a8478;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #D3C6AA;
}